PORT=8080
FIREBASE_PROJECT_ID=your-firebase-project-id
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
# FIREBASE_SERVICE_ACCOUNT_JSON={"type":"service_account",...}

# SePay webhook authentication
SEPAY_WEBHOOK_API_KEY=
SEPAY_WEBHOOK_SECRET_KEY=
SEPAY_USER_API_TOKEN=YCHE7BBL0ARFPL4U5AQZFR3UJJPLTZX7FDGHIMW6KZVJMX1XOYSJKBVVRDN31I6O
SEPAY_CHECK_ACCOUNT_NUMBER=0356433860
SEPAY_CHECK_LIMIT=20
